@*Урок 7*@
@using static GameIndustry.Shared.MainLayout
<!--Урок 2-->

@if (!IsTable && Game != null)
{
    <div class="¨row text-center alert alert-info">
        <div class="col">
            <p>@Game.Name</p>
            <p>@Game.Genre</p>
            <p>@Game.ReleaseDate.ToString("dd.MM.yyyy")</p>

            @if (DisplayButton)
            {
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" @onclick="SwitchGame">Switch the game</button>
                    </div>
                </div>
            }

            @if (Game.Name.Equals("The Witcher 3") && AppStyles.WitcherWords != null)
            {
                <div class="row mt-3">
                    <div class="col alert alert-light text-center">
                        @AppStyles.WitcherWords[rnd.Next(0, AppStyles.WitcherWords.Count)]
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    if (Game != null)
    {
        <tr>
            <td>@Game.Name</td>
            <td>@Game.Genre</td>
            <td>@Game.ReleaseDate.ToString("dd.MM.yyyy")</td>
            <td>

                @if (DisplayButton)
                {
                    <button class="btn btn-danger" @onclick="(() => DeleteGame.InvokeAsync(Game))">Delete</button>
                }
            </td>
        </tr>
    }
}

@code {
    [Parameter] public Game Game { get; set; }
    [Parameter] public bool IsTable { get; set; }

    [Parameter] public bool DisplayButton { get; set; } = false;

    // Урок 3, создаём свойство для EventCallback
    [Parameter] public EventCallback<Game> DeleteGame { get; set; }
    [Parameter] public EventCallback SwitchGame { get; set; }

    //string message;

    //void Delete()
    //{
    //    // Delete logic
    //    message = $"Game {Game.Name} deleted!";
    //}

    // Урок 7
    [CascadingParameter] public AppStyles AppStyles { get; set; }
    Random rnd = new Random(DateTime.Now.Millisecond);
}
